html, body{
    margin: 0;
    padding: 0;
}
header, footer{
    padding: 16px;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
#content-wrapper{
    margin: 16px;
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid #999;
    padding: 16px;
}
/* this css definition of the img will always be applied */
#content-wrapper img{
    width: 600px;
    display: block;
    margin: 0 auto;   
    clear: both; 
}
.column-wrapper{
}
.column-3{
    width: calc(100% / 3);
    float: left;
    text-align: center;
}

/* Tablet and Mobile view */
@media screen and (max-width: 639px) {
    /* this css definition of the img will only be applied when the screen is 639px wide or less */
    #content-wrapper img{
        max-width: 362px;
    }
}

/* Tablet view */
@media screen and (min-width: 321px) and (max-width: 639px) {
    /* this css definition of the img will only be applied when the screen is larger than 320px and narrower than 640px wide */
    #content-wrapper img{
        width: 70%;
    }

}

/* Mobile view */
@media screen and (max-width: 320px) {
    /* remove the padding on the left and right for mobile devices */
    #content-wrapper{
        padding: 16px 0;
    }
    /* this css definition of the img will only be applied when the screen is 320px wide or less */
    #content-wrapper img{
        width: 100%;
    }
}