html, body{
    margin: 0;
    padding: 0;
}
header, footer{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
nav{
    background-color:#0f0;
    padding: 16px;
}
nav a{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
.content-wrapper{
    margin: 16px;
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid #999;
    padding: 16px;
    box-sizing: border-box;
}
.column-wrapper{
}
.column-3{
    width: calc(100% / 3);
    float: left;
    text-align: center;
}
/* start of image example css */
#image-example-1{
    display: none; /* remove this if you want to see example 1 working */
}
.main-image-d {
    width: auto; 
    height: 700px;
    display: block;
    margin: 0 auto;
}
.main-image-m {
    width: 100%; 
    /* height: 300px;  */
    display: none;
}
#image-example-2{
    height: 750px;
    display: none; /* remove this if you want to see example 1 working */
}
.object-fit-example{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#image-example-3{
    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit; */
    background: transparent url('../imgs/sample-wide.jpg') no-repeat left center;
    height: 500px;
    display: none; /* remove this if you want to see example 1 working */
}
#image-example-4{
    display: none; /* remove this if you want to see example 1 working */
}
#image-example-4 picture img{
    width: 100%;
}
#image-example-5 img{
    width: 100%;
    margin: 0 auto;
    display: block;
}

/* end of image example css */ 

/* start of text considerations */

p{
    font-size: 18px;
}

/* end of text considerations */

/* start of landscape orientation detection */
#wrapper { 
    display: block; 
    background-color: #f00;
    padding: 24px;
}
#landscape-wrapper { 
    background-color: #0f0;
    display: none;
    padding: 24px;
}

/*
  Grid System Definition - Without margins
*/

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 24.99%;
}
.col-6 {
    width: 49.98%;
}
[class*="col-"]{
    float: left;
    padding: 15px;
    border: 1px solid red;
    text-align: center;
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    margin: 0 0 10px 0;
}

@media only screen and (max-device-width: 639px) and (orientation: landscape) {
    #wrapper {
        display: none; 
    }
    #landscape-wrapper { 
        display: block; 
    }
}
/* end of landscape orientation detection */
footer{
    padding: 16px;
}


/* This is a great spot for this! */
/* Tablet and Mobile view */
@media screen and (max-width: 639px) {
    /* this css definition of the img will only be applied when the screen is 639px wide or less */
    #content-wrapper{
        /* Now dodgerblue has a chance to apply itself on tablet resolutions, and chocolate applies on mobile resolutions */
        background-color: chocolate;
    }
    nav a{
        padding: 16px;
    }
    .main-image-d { 
        display: none; 
    }
    .main-image-m { 
        display: block; 
    }
    p{
        /* font-size: 24px;
        line-height: 30px;
        font-family: sans-serif; */

        font: 24px/30px sans-serif;
        padding: 0 8px;
    }
}


/* Tablet view */
@media screen and (min-width: 441px) and (max-width: 639px) {
    #content-wrapper{
        background-color: dodgerblue;
    }
}

/* Mobile view */
@media screen and (max-width: 440px) {
    /* remove the padding on the left and right for mobile devices */
    #content-wrapper{
        padding: 16px 0;
    }
    nav .column-3{
        width: 100%;
        float: none;
    }

}

