html, body{
    margin: 0;
    padding: 0;
}
header, footer{
    text-align: center;
    max-width: 1024px;
    margin: 0 auto;
}
nav{
    background-color:#0f0;
    padding: 16px;
}
nav a{
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
}
#content-wrapper{
    margin: 16px;
    max-width: 1024px;
    margin: 0 auto;
    border: 1px solid #999;
    padding: 16px;
    box-sizing: border-box;
}
.column-wrapper{
}
.column-3{
    width: calc(100% / 3);
    float: left;
    text-align: center;
}
/* start of image example css */
.main-image-d {
    width: 960px; 
    height: auto;
    display: block;
}
.main-image-m {
    width: 100%; 
    /* height: 300px;  */
    display: none;
}

@media screen and (max-width: 400px) {
    .main-image-d { 
        display: none; 
    }
    .main-image-m { 
        display: block; 
    }
}
/* end of image example css */ 
footer{
    padding: 16px;
}


/* This is a great spot for this! */
/* Tablet and Mobile view */
@media screen and (max-width: 639px) {
    /* this css definition of the img will only be applied when the screen is 639px wide or less */
    #content-wrapper{
        /* Now dodgerblue has a chance to apply itself on tablet resolutions, and chocolate applies on mobile resolutions */
        background-color: chocolate;
    }
    #content-wrapper img{
        max-width: 362px;
    }
    nav a{
        padding: 16px;
    }
}


/* Tablet view */
@media screen and (min-width: 441px) and (max-width: 639px) {
    #content-wrapper{
        background-color: dodgerblue;
    }
    /* this css definition of the img will only be applied when the screen is larger than 320px and narrower than 640px wide */
    #content-wrapper img{
        width: 70%;
    }

}

/* Mobile view */
@media screen and (max-width: 440px) {
    /* remove the padding on the left and right for mobile devices */
    #content-wrapper{
        padding: 16px 0;
    }
    /* this css definition of the img will only be applied when the screen is 320px wide or less */
    #content-wrapper img{
        width: 100%;
    }
    nav{

    }
    nav .column-3{
        width: 100%;
        float: none;
    }

}

